<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <input-field type="bool">
            <name>addCompressionHeader</name>
            <defaultValue>1</defaultValue>
            <label>Add CompressionHeader to requests</label>
            <label lang="de-DE">Kompressionsheader bei den Anfragen hinzufügen</label>
        </input-field>
    </card>
</config>
