<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Configuration</title>
        <input-field type="bool">
            <name>minifyJavaScript</name>
            <defaultValue>1</defaultValue>
            <label>Minify Inline-JavaScript</label>
            <label lang="de-DE">Verkleinere Inline-JavaScript</label>
            <help-text>JavaScript is getting combined always. This option will compress it additionally.</help-text>
            <help-text lang="de-DE">JavaScript wird immer kombiniert. Diese Option komprimiert es zusätzlich.</help-text>
        </input-field>
        <input-field type="bool">
            <name>minifyHTML</name>
            <defaultValue>1</defaultValue>
            <label>Minify HTML</label>
            <label lang="de-DE">HTML verkleinern</label>
        </input-field>
        <input-field type="bool">
            <name>addCompressionHeader</name>
            <defaultValue>0</defaultValue>
            <label>Add CompressionHeader to requests (debug)</label>
            <label lang="de-DE">Kompressionsheader bei den Anfragen hinzufügen (debug)</label>
            <help-text>This slows down the output of HTML to the client, so it should only be enabled for debugging purposes.</help-text>
            <help-text lang="de-DE">Dies verlangsamt die HTML-Ausgabe an den Client und sollte daher nur zu Debugging-Zwecken aktiviert werden.</help-text>
        </input-field>
    </card>
</config>
